@media (max-width: 768px) {
   /* .header__burger-btn {
        display: block;
    } */

    /*.nav
    {
        position: absolute;
        right: -332px;
        top: 0;
        width: 332px;
        height: 570px;
        background-color: #0C0C0E;
        z-index: 1;
        visibility: hidden;
    }

    .nav.open .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        row-gap: 30px;
        list-style-type: none;
        padding-top: 100px;
        padding-bottom: 100px;
    }


    .header.open .nav {
        transform: translateX(-100%);
        visibility: visible;
    }  */
}